*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colors
    background-color: rgb(200,220,220,0.8);

 */

a{
    text-decoration: none;
    font-size: 1.8rem;
}

html{
    font-size: 10px;
}



.soli-item-hidden{
    display: none;
}

.container{
    width: 100%;
}

.navbar{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(200,220,220,0.8);
}

.navbar-con{
    width: 150rem;
    height: 8rem;
    display: flex;
    justify-content: space-between;
}

.navbar-menu{
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-profile{
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu ion-icon,.navbar-profile ion-icon{
    font-size: 3.2rem;
    color: black;
}

.links{
    display: flex;
    gap: 2rem;
    height: 8rem;
    align-items: center;
}

.sosial{
    display: flex;
    gap:2rem;
    height: 8rem;
    align-items: center;
}

.sosial a ion-icon{
    color: black;
    font-size: 2.4rem;
}

.links a{
    color: black;
}

/* solidbar */

.solid-bar{
    width: 40rem;
    height: calc(100vh - 10rem);
    background-color: rgb(200,220,220,0.8);
    border-top: solid 1px white;
    padding: 1rem;
    display: none;
    flex-direction: column;
}

.head-exit-solidbar{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

.exit{
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit p{
    color: black;
    font-size: 2.4rem;
}

.exit p:hover{
    color: rgb(148, 31, 18);
    transition: 1s color;
}

.soli-item{
    width: 100%;
    height: 3rem;
    background-color: rgb(250,250,250,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 5rem;
    transition: all .5s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    color: black;
    font-size: 1.8rem;
}

.soli-item a{
    font-size: 1.8rem;
    color: black;
}

.soli-item:hover{
    box-shadow: none;
    transition: all .5s;
}

/* home page ================================================= */

.home-page{
    width: 100%;
    height: 87rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container{
    width: 150rem;
    height: 70rem;
    background-color: rgb(200,220,220,0.8);
    border-radius: 5rem;
}

.home-head{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
}

.home-body{
    width: 100%;
    height: 60rem;
    font-size: 2rem;
    padding: 2rem;
    text-align: justify;
}

form{
    width: 100%;
    display: flex;flex-direction: column;
    align-items: center;
}

.form-container{
    width: 50rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.form-head{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 300;
    margin-top: 3rem;
}

label{
    width: 46rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    width: 100%;
    height: 3rem;
    border: none;
    outline: none;
    border-bottom: .1rem solid white;
    color: black;
    font-size: 1.8rem;
    background: none;
    padding: 1rem;
}

input::placeholder{
    color: black;
    font-size: 1.8rem;
}

button[type = "button"]{
    width: 46rem;
    height: 3rem;
    background-color: white;
    border: none;
    outline: none;
    margin-top: 1rem;
    border-radius: 5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: all .5s;
    font-size: 1.8rem;
}

button[type="button"]:hover{
    box-shadow: none;
}

.home-footer{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-footer p{
    font-size: 1.4rem;
}

@media only screen and (max-width: 1700px){
    
    .container{
        width: 100%;
    }

    .navbar{
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(200,220,220,0.8);
    }

    .navbar-con{
        width: 120rem;
        height: 8rem;
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu{
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-profile{
        width: 8rem;
        height: 8rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-menu ion-icon,.navbar-profile ion-icon{
        font-size: 3.2rem;
        color: black;
    }

    .links{
        display: flex;
        gap: 2rem;
        height: 8rem;
        align-items: center;
    }

    .sosial{
        display: flex;
        gap:2rem;
        height: 8rem;
        align-items: center;
    }

    .sosial a ion-icon{
        color: black;
        font-size: 2.4rem;
    }

    .links a{
        color: black;
    }

    /* solidbar */

    .solid-bar{
        width: 40rem;
        height: 87rem;
        background-color: rgb(200,220,220,0.8);
        border-top: solid 1px white;
        padding: 1rem;
        display: none;
        flex-direction: column;
    }

    .head-exit-solidbar{
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .exit{
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .exit p{
        color: black;
        font-size: 2.4rem;
    }

    .exit p:hover{
        color: rgb(148, 31, 18);
        transition: 1s color;
    }

    .soli-item{
        width: 100%;
        height: 3rem;
        background-color: rgb(250,250,250,0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        border-radius: 5rem;
        transition: all .5s;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        color: black;
        font-size: 1.8rem;
    }

    .soli-item a{
        font-size: 1.8rem;
        color: black;
    }

    .soli-item:hover{
        box-shadow: none;
        transition: all .5s;
    }

    /* home page ================================================= */

    .home-page{
        width: 100%;
        height: 87rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-container{
        width: 120rem;
        height: 70rem;
        background-color: rgb(200,220,220,0.8);
        border-radius: 5rem;
    }

    .home-head{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
    }

    .home-body{
        width: 100%;
        height: 60rem;
        font-size: 2rem;
        padding: 2rem;
        text-align: justify;
    }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-container{
        width: 50rem;
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .form-head{
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 300;
        margin-top: 3rem;
    }

    label{
        width: 46rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input{
        width: 100%;
        height: 3rem;
        border: none;
        outline: none;
        border-bottom: .1rem solid white;
        color: black;
        font-size: 1.8rem;
        background: none;
        padding: 1rem;
    }

    input::placeholder{
        color: black;
        font-size: 1.8rem;
    }

    button[type = "button"]{
        width: 46rem;
        height: 3rem;
        background-color: white;
        border: none;
        outline: none;
        margin-top: 1rem;
        border-radius: 5rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        transition: all .5s;
        font-size: 1.8rem;
    }

    button[type="button"]:hover{
        box-shadow: none;
    }

    .home-footer{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-footer p{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 1500px){
    
    .container{
        width: 100%;
    }

    .navbar{
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(200,220,220,0.8);
    }

    .navbar-con{
        width: 90rem;
        height: 8rem;
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu{
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-profile{
        width: 8rem;
        height: 8rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-menu ion-icon,.navbar-profile ion-icon{
        font-size: 3.2rem;
        color: black;
    }

    .links{
        display: flex;
        gap: 2rem;
        height: 8rem;
        align-items: center;
    }

    .sosial{
        display: flex;
        gap:2rem;
        height: 8rem;
        align-items: center;
    }

    .sosial a ion-icon{
        color: black;
        font-size: 2.4rem;
    }

    .links a{
        color: black;
    }

    /* solidbar */

    .solid-bar{
        width: 40rem;
        height: 87rem;
        background-color: rgb(200,220,220,0.8);
        border-top: solid 1px white;
        padding: 1rem;
        display: none;
        flex-direction: column;
    }

    .head-exit-solidbar{
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .exit{
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .exit p{
        color: black;
        font-size: 2.4rem;
    }

    .exit p:hover{
        color: rgb(148, 31, 18);
        transition: 1s color;
    }

    .soli-item{
        width: 100%;
        height: 3rem;
        background-color: rgb(250,250,250,0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        border-radius: 5rem;
        transition: all .5s;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        color: black;
        font-size: 1.8rem;
    }

    .soli-item a{
        font-size: 1.8rem;
        color: black;
    }

    .soli-item:hover{
        box-shadow: none;
        transition: all .5s;
    }

    /* home page ================================================= */

    .home-page{
        width: 100%;
        height: 87rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-container{
        width: 90rem;
        height: 70rem;
        background-color: rgb(200,220,220,0.8);
        border-radius: 5rem;
    }

    .home-head{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
    }

    .home-body{
        width: 100%;
        height: 60rem;
        font-size: 2rem;
        padding: 2rem;
        text-align: justify;
    }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-container{
        width: 50rem;
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .form-head{
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 300;
        margin-top: 3rem;
    }

    label{
        width: 46rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input{
        width: 100%;
        height: 3rem;
        border: none;
        outline: none;
        border-bottom: .1rem solid white;
        color: black;
        font-size: 1.8rem;
        background: none;
        padding: 1rem;
    }

    input::placeholder{
        color: black;
        font-size: 1.8rem;
    }

    button[type = "button"]{
        width: 46rem;
        height: 3rem;
        background-color: white;
        border: none;
        outline: none;
        margin-top: 1rem;
        border-radius: 5rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        transition: all .5s;
        font-size: 1.8rem;
    }

    button[type="button"]:hover{
        box-shadow: none;
    }

    .home-footer{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-footer p{
        font-size: 1.4rem;
    }
}


@media only screen and (max-width: 1100px){
    
    .container{
        width: 100%;
    }

    .navbar{
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(200,220,220,0.8);
    }

    .navbar-con{
        width: 60rem;
        height: 8rem;
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu{
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-profile{
        width: 8rem;
        height: 8rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-menu ion-icon,.navbar-profile ion-icon{
        font-size: 3.2rem;
        color: black;
    }

    .links{
        display: flex;
        gap: 2rem;
        height: 8rem;
        align-items: center;
    }

    .sosial{
        display: flex;
        gap:2rem;
        height: 8rem;
        align-items: center;
    }

    .sosial a ion-icon{
        color: black;
        font-size: 2.4rem;
    }

    .links a{
        color: black;
    }

    /* solidbar */

    .solid-bar{
        width: 40rem;
        height: 87rem;
        background-color: rgb(200,220,220,0.8);
        border-top: solid 1px white;
        padding: 1rem;
        display: none;
        flex-direction: column;
    }

    .head-exit-solidbar{
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .exit{
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .exit p{
        color: black;
        font-size: 2.4rem;
    }

    .exit p:hover{
        color: rgb(148, 31, 18);
        transition: 1s color;
    }

    .soli-item{
        width: 100%;
        height: 3rem;
        background-color: rgb(250,250,250,0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        border-radius: 5rem;
        transition: all .5s;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        color: black;
        font-size: 1.8rem;
    }

    .soli-item a{
        font-size: 1.8rem;
        color: black;
    }

    .soli-item:hover{
        box-shadow: none;
        transition: all .5s;
    }

    /* home page ================================================= */

    .home-page{
        width: 100%;
        height: 87rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-container{
        width: 60rem;
        height: 80rem;
        background-color: rgb(200,220,220,0.8);
        border-radius: 5rem;
    }

    .home-head{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
    }

    .home-body{
        width: 100%;
        height: 70rem;
        font-size: 2rem;
        padding: 2rem;
        text-align: justify;
    }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-container{
        width: 50rem;
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .form-head{
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 300;
        margin-top: 3rem;
    }

    label{
        width: 46rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input{
        width: 100%;
        height: 3rem;
        border: none;
        outline: none;
        border-bottom: .1rem solid white;
        color: black;
        font-size: 1.8rem;
        background: none;
        padding: 1rem;
    }

    input::placeholder{
        color: black;
        font-size: 1.8rem;
    }

    button[type = "button"]{
        width: 46rem;
        height: 3rem;
        background-color: white;
        border: none;
        outline: none;
        margin-top: 1rem;
        border-radius: 5rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        transition: all .5s;
        font-size: 1.8rem;
    }

    button[type="button"]:hover{
        box-shadow: none;
    }

    .home-footer{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-footer p{
        font-size: 1.4rem;
    }
}


@media only screen and (max-width: 900px){
    
    .container{
        width: 100%;
    }

    .navbar{
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(200,220,220,0.8);
    }

    .navbar-con{
        width: 60rem;
        height: 8rem;
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu{
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-profile{
        width: 8rem;
        height: 8rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-menu ion-icon,.navbar-profile ion-icon{
        font-size: 3.2rem;
        color: black;
    }

    .links{
        display: none;
    }

    .sosial{
        display: none;
    }

    .sosial a ion-icon{
        color: black;
        font-size: 2.4rem;
    }

    .links a{
        color: black;
    }

    /* solidbar */

    .solid-bar{
        width: 40rem;
        height: 87rem;
        background-color: rgb(200,220,220,0.8);
        border-top: solid 1px white;
        padding: 1rem;
        display: none;
        flex-direction: column;
    }

    .head-exit-solidbar{
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .exit{
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .exit p{
        color: black;
        font-size: 2.4rem;
    }

    .exit p:hover{
        color: rgb(148, 31, 18);
        transition: 1s color;
    }

    .soli-item{
        width: 100%;
        height: 3rem;
        background-color: rgb(250,250,250,0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        border-radius: 5rem;
        transition: all .5s;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        color: black;
        font-size: 1.8rem;
    }

    .soli-item a{
        font-size: 1.8rem;
        color: black;
    }

    .soli-item:hover{
        box-shadow: none;
        transition: all .5s;
    }

    /* home page ================================================= */

    .home-page{
        width: 100%;
        height: 87rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-container{
        width: 60rem;
        height: 80rem;
        background-color: rgb(200,220,220,0.8);
        border-radius: 5rem;
    }

    .home-head{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
    }

    .home-body{
        width: 100%;
        height: 70rem;
        font-size: 2rem;
        padding: 2rem;
        text-align: justify;
    }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-container{
        width: 50rem;
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .form-head{
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 300;
        margin-top: 3rem;
    }

    label{
        width: 46rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input{
        width: 100%;
        height: 3rem;
        border: none;
        outline: none;
        border-bottom: .1rem solid white;
        color: black;
        font-size: 1.8rem;
        background: none;
        padding: 1rem;
    }

    input::placeholder{
        color: black;
        font-size: 1.8rem;
    }

    button[type = "button"]{
        width: 46rem;
        height: 3rem;
        background-color: white;
        border: none;
        outline: none;
        margin-top: 1rem;
        border-radius: 5rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        transition: all .5s;
        font-size: 1.8rem;
    }

    button[type="button"]:hover{
        box-shadow: none;
    }

    .home-footer{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-footer p{
        font-size: 1.4rem;
    }
}


@media only screen and (max-width: 600px){
    
    .container{
        width: 100%;
    }

    .navbar{
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(200,220,220,0.8);
        border-bottom: solid .1rem white

    }

    .navbar-con{
        width: 60rem;
        height: 8rem;
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu{
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-profile{
        width: 8rem;
        height: 8rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-menu ion-icon,.navbar-profile ion-icon{
        font-size: 3.2rem;
        color: black;
    }

    .links{
        display: none;
    }

    .sosial{
        display: none;
    }

    .sosial a ion-icon{
        color: black;
        font-size: 2.4rem;
    }

    .links a{
        color: black;
    }

    /* solidbar */

    .solid-bar{
        width: 100%;
        height: 87rem;
        background-color: rgb(200,220,220,0.8);
        border-top: solid 1px white;
        padding: 1rem;
        display: none;
        flex-direction: column;
    }

    .head-exit-solidbar{
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .exit{
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .exit p{
        color: black;
        font-size: 2.4rem;
    }

    .exit p:hover{
        color: rgb(148, 31, 18);
        transition: 1s color;
    }

    .soli-item{
        width: 100%;
        height: 3rem;
        background-color: rgb(250,250,250,0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        border-radius: 5rem;
        transition: all .5s;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        color: black;
        font-size: 1.8rem;
    }

    .soli-item a{
        font-size: 1.8rem;
        color: black;
    }

    .soli-item:hover{
        box-shadow: none;
        transition: all .5s;
    }

    /* home page ================================================= */

    .home-page{
        width: 100%;
        height: 100rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-container{
        width: 100%;
        height: 90rem;
        background-color: rgb(200,220,220,0.8);
        border-radius: 5rem;
    }

    .home-head{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
    }

    .home-body{
        width: 100%;
        height: 80rem;
        font-size: 2rem;
        padding: 2rem;
        text-align: justify;
    }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-container{
        width: 100%;
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .form-head{
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 300;
        margin-top: 3rem;
    }

    label{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input{
        width: 100%;
        height: 3rem;
        border: none;
        outline: none;
        border-bottom: .1rem solid white;
        color: black;
        font-size: 1.8rem;
        background: none;
        padding: 1rem;
    }

    input::placeholder{
        color: black;
        font-size: 1.8rem;
    }

    button[type = "button"]{
        width: 100%;
        height: 3rem;
        background-color: white;
        border: none;
        outline: none;
        margin-top: 1rem;
        border-radius: 5rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        transition: all .5s;
        font-size: 1.8rem;
    }

    button[type="button"]:hover{
        box-shadow: none;
    }

    .home-footer{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-footer p{
        font-size: 1.4rem;
    }

    body{
        background-color: rgb(200,220,220);
    }
    .home-footer {
        display: none;
    }
}



@media only screen and (max-width: 400px){
    
    .navbar{
        width: 100%;
        height: 10rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(200,220,220,0.8);
    }

    .navbar-con{
        width: 50rem;
        height: 8rem;
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu{
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-profile{
        width: 8rem;
        height: 8rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-menu ion-icon,.navbar-profile ion-icon{
        font-size: 3.2rem;
        color: black;
    }

    .links{
        display: none; 
    }

    .sosial{
        display: none;
    }

    .sosial a ion-icon{
        color: black;
        font-size: 2.4rem;
    }

    .links a{
        color: black;
    }

    /* solidbar */

    .solid-bar{
        width: 100%;
        min-height: calc(100vh - 10rem);
        background-color: rgb(200,220,220,0.8);
        border-top: solid 1px white;
        padding: 1rem;
        display: none;
        flex-direction: column;
    }

    .head-exit-solidbar{
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .exit{
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .exit p{
        color: black;
        font-size: 2.4rem;
    }

    .exit p:hover{
        color: rgb(148, 31, 18);
        transition: 1s color;
    }

    .soli-item{
        width: 100%;
        height: 3rem;
        background-color: rgb(250,250,250,0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        border-radius: 5rem;
        transition: all .5s;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        color: black;
        font-size: 1.8rem;
    }

    .soli-item a{
        font-size: 1.8rem;
        color: black;
    }

    .soli-item:hover{
        box-shadow: none;
        transition: all .5s;
    }
    /* home page ================================================= */

    .home-page{
        width: 100%;
        height: 100rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-container{
        width: 100%;
        height: 90rem;
        background-color: rgb(200,220,220,0.8);
        border-radius: 5rem;
    }

    .home-head{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
    }

    .home-body{
        width: 100%;
        height: 87rem;
        font-size: 2rem;
        padding: 2rem;
        text-align: justify;
    }

    form{
        width: 100%;
        height: 35rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-container{
        width: 100%;
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .form-head{
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: 300;
        margin-top: 3rem;
    }

    label{
        width: 100%;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input{
        width: 100%;
        height: 3rem;
        border: none;
        outline: none;
        border-bottom: .1rem solid white;
        color: black;
        font-size: 1.8rem;
        background: none;
        padding: 1rem;
    }

    input::placeholder{
        color: black;
        font-size: 1.8rem;
    }

    button[type = "button"]{
        width: 100%;
        height: 3rem;
        background-color: white;
        border: none;
        outline: none;
        margin-top: 1rem;
        border-radius: 5rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        transition: all .5s;
        font-size: 1.8rem;
    }

    button[type="button"]:hover{
        box-shadow: none;
    }

    .home-footer{
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-footer p{
        font-size: 1.4rem;
    }

    body{
        background-color: rgb(200,220,220);
    }

    *{
        overflow-x: hidden;
    }

    .home-footer p{
        display: none;
    }
}