<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N@t19.</title>
    <link rel="stylesheet" href="../static/css/developers.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>
<body>
    <section class="container">
        <section class="navbar">
            <section class="navbar-menu">
                <ion-icon name="menu" id="solidbar-icon-open"></ion-icon>
            </section>
            <section class="navbar-con">
                <section class="links">
                    <a href="../index.html">
                        Home
                    </a>
                    <a href="">
                        Contact me
                    </a>
                    <a href="">
                        Login/Sign in
                    </a>
                </section>
                <section class="icon-links" style="display: none;">
                    <a href="">
                        <ion-icon name="home"></ion-icon>
                    </a>
                    <a href="">
                          <ion-icon name="log-in"></ion-icon>
                    </a>
                    <a href="">
                        <ion-icon name="code-working"></ion-icon>
                    </a>
                </section>
                <section class="sosial">
                    <a href="https://www.instagram.com/natigshukurov96/">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                    <a href="">
                    <ion-icon name="logo-github"></ion-icon>

                    </a>
                    <a href="">
                    <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </section>

            </section>
            <section class="navbar-profile">
                <a href="">
                    <ion-icon name="contact"></ion-icon>
                </a>
            </section>
        </section>
        <section class="solid-bar" id="solidbar">
            <section class="head-exit-solidbar">
                <div class="exit">
                    <p id="exit">X</p>
                </div>
            </section>
            <div class="soli-item">
                Setting
            </div>

            <div class="soli-item">
                <a href="">Developers</a>
            </div>
            <div class="soli-item-hidden">
                <a href="../index.html">Home</a>
            </div>
            <div class="soli-item-hidden">
                <a href="">
                    About
                </a>

            </div>
            <div class="soli-item-hidden">
                <a href="">
                    Login/Sign in
                </a>
            </div>
        </section>
        <section class="developers-page" id="dev">
            <div class="developers-con">
                <div class="dev-head">
                    Developerlər
                    
                </div>
                <div class="dev-content">
                    <div class="developer-1">
                        <div class="logo">
                            <div class="img" style="background-image: url(../static/img/cavidan.jpeg);"></div>
                        </div>
    
                        <div class="fullname">
                            <div class="name">
                                <p>Cavidan Əlipaşayev</p>
                            </div>
                            <div class="work">
                                BackEnd developer
                            </div>
                            <div class="insta">
                                <a href="https://www.instagram.com/cavidan_alipashayev/">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                    Instagram
                                </a>
                            </div>
                        </div>
    
    
    
    
                    </div>
                    <div class="developer-1">
                        <div class="logo">
                            <div class="img" style="background-image: url(../static/img/InShot_20241029_002301970.jpg);"></div>
                        </div>

                        <div class="fullname">
                            <div class="name">
                                <p>Natig Shukurov</p>
                            </div>
                            <div class="work">
                                Cyber security
                            </div>
                            <div class="insta">
                                <a href="https://www.instagram.com/natigshukurov96/">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                    Instagram
                                </a>
                            </div>
                        </div>




                    </div>
                    <div class="developer-1">
                        <div class="logo">
                            <div class="img" style="background-image: url(../static/img/turan.jpeg);"></div>
                        </div>

                        <div class="fullname">
                            <div class="name">
                                <p>Turan Mamedov</p>
                            </div>
                            <div class="work">
                                Frontend developer
                            </div>
                            <div class="insta">
                                <a href="https://www.instagram.com/bay.tooran/">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                    Instagram
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="developer-1">
                        <div class="logo">
                            <div class="img" style="background-image: url(../static/img/maga.jpeg);"></div>
                        </div>

                        <div class="fullname">
                            <div class="name">
                                <p>Məhəmməd Əzizli</p>
                            </div>
                            <div class="work">
                                Frontend developer
                            </div>
                            <div class="insta">
                                <a href="https://www.instagram.com/azizli_528/">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                    Instagram
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="developer-1">
                        <div class="logo">
                            <div class="img" style="background-image: url(../static/img/esma.enc);"></div>
                        </div>

                        <div class="fullname">
                            <div class="name">
                                <p>Əsma İsmayılzadə</p>
                            </div>
                            <div class="work">
                                Frontend developer
                            </div>
                            <div class="insta">
                                <a href="https://www.instagram.com/esmailzzadeh/">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                    Instagram
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="developer-1">
                        <div class="logo">
                            <div class="img" style="background-image: url(../static/img/maga.jpeg);"></div>
                        </div>

                        <div class="fullname">
                            <div class="name">
                                <p>Murad Quliyev</p>
                            </div>
                            <div class="work">
                                Nicat Telekom
                            </div>
                            <div class="insta">
                                <a href="https://www.instagram.com/gulievv.m/">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                    Instagram
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </section>


    <script src="../static/js/developers.js"></script>
</body>
</html>